VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=

# Firebase API Keys for Mobile
FIREBASE_API_KEY_WEB=
FIREBASE_API_KEY_ANDROID=
FIREBASE_API_KEY_IOS=
FIREBASE_API_KEY_MACOS=
FIREBASE_API_KEY_WINDOWS=

# Firebase App IDs for Mobile
FIREBASE_APP_ID_WEB=
FIREBASE_APP_ID_ANDROID=
FIREBASE_APP_ID_IOS=
FIREBASE_APP_ID_MACOS=
FIREBASE_APP_ID_WINDOWS=
